/* -- General -- */
/* -- Font -- */
@font-face {
font-family: 'Ostrich-Sans';
    src: url('/assets/font/webfonts/ostrich-sans-regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/font/webfonts/ostrich-sans-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/assets/font/webfonts/ostrich-sans-regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
font-family: 'Ostrich-Sans-Bold';
    src: url('/assets/font/webfonts/ostrich-sans-bold.eot'), /* IE9 Compat Modes */
         url('/assets/font/webfonts/ostrich-sans-bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/font/webfonts/ostrich-sans-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/assets/font/webfonts/ostrich-sans-bold.svg') format('svg'); /* Legacy iOS */
}
@font-face {
font-family: 'Ostrich-Sans-Black';
    src: url('/assets/font/webfonts/ostrich-sans-black.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/font/webfonts/ostrich-sans-black.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/assets/font/webfonts/ostrich-sans-black.svg') format('svg'); /* Legacy iOS */
}
@font-face {
font-family: 'Ostrich-Sans-Inline';
    src: url('/assets/font/webfonts/ostrich-sans-inline-regular.eot'), /* IE9 Compat Modes */
         url('/assets/font/webfonts/ostrich-sans-inline-regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/font/webfonts/ostrich-sans-inline-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/assets/font/webfonts/ostrich-sans-inline-regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
font-family: 'Ostrich-Sans-Rounded';
    src: url('/assets/font/webfonts/ostrich-sans-rounded.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/font/webfonts/ostrich-sans-rounded.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/assets/font/webfonts/ostrich-sans-rounded.svg') format('svg'); /* Legacy iOS */
}

body {
    background-color: #eaeaea;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: "Segoe UI", Arial, sans-serif;
}

.text-shadow-nowebkit {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
/* -- Header -- */

.header {
    height: 65px;
    background-color: rgba(111, 111, 111, 0.5);
    position: relative;
}

.header h1 {
    color: #eaeaea;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 3px;
    font-size: calc(2em + 0.1vw);
    font-family: "Ostrich-Sans-Black";
}

.header h6 {
    color: #eaeaea;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: calc(0.7em + 0.1vw);
    font-family: "Ostrich-Sans";
    font-size: 1.1em;
}


/* -- Hero Banner -- */
.heroimg {
    margin-top: -65px;
    height: 90vh;
    border: 1px solid #eaeaea;
    background-image: url(/assets/img/bg_main_day_crop4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroimg-content {
    margin-top: 20vh;
    text-align: center;
}
.heroimg-content h1 {
    margin-top: 0;
    font-size: calc(8em + 0.4vw);
    color: white;
    font-family: "Ostrich-Sans-Rounded";
    font-weight: 1000;
    text-shadow: 2px 2px #000;
    margin-bottom: 15px;
    font-display: swap;
}

.heroimg-content h5 {
    font-size: calc(2em + 0.5vw);
    color: white;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    font-family: "Ostrich-Sans-Black";
    font-weight: 1000;
    -webkit-text-stroke: 1.1px black;
}
.heroimg-content h5 .hover {
    visibility: hidden;
    position: absolute;
    font-size: 0.4em;
    -webkit-text-stroke: 1.1px white;
    font-weight: 100;
    font-family: "Ostrich-Sans";
    background-color: #6a6a6a;
}
.socials {
    background-color: rgba(255, 255, 255, 0.35);
    width: 450px;
    margin: 0 auto;
}
.socials .linkedin {
    margin-left: 30px;
    margin-right: 12px;
}
.socials .instagram {
    margin-top: 5px;
}

/* -- Homepage Text Content -- */
.main-content-text {
    background: url(/assets/img/bg_secondary_crop2.jpg) #1D1075;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #fff;
    overflow: hidden;
}

.main-content-text .content-header {
    text-align: center;
    font-family: "Ostrich-Sans-Black";
    color: #eaeaea;
    font-size: calc(4.2em + 0.3vw);
    padding-top: 25px;
    background-color: rgba(13, 13, 13, 0.75);

}
.main-content-text .content-text {
    text-align: center;
    font-family: "Ostrich-Sans-Rounded";
    color: #eaeaea;
    font-weight: 600;
    font-size: calc(2em + 0.5vw);
    padding: 25px 10% 0 10%;
    background-color: rgba(13, 13, 13, 0.75);
}
.main-content-text .content-text:last-of-type { /*Should be the last thing on the text content section. Padding*/
    padding-bottom: 50px;
}
.project-container {
    height: 350px;
    text-align: center;
}
.swiper-container {
    margin-bottom: -0.5px;
    margin-top: -0.5px;
}
.swiper-slide {
    background-color: rgba(13, 13, 13, 0.75);
}
.slide-container {
    height: 100%;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: row;
}
.slide-container img {
    height: 100%;
}
.slide-container .text-container {
    display: flex;
    flex-direction: column;
    padding: 5px 5% 5% 5%;
}
.slide-container .text-container span {
    font-size: calc(2em + 0.4vw);
    text-decoration: underline;
    color: white;
    font-family: "Ostrich-Sans-Rounded";
}
.slide-container .text-container p {
    margin: 3px;
    font-size: calc(1.45em + 0.4vw);
    color: white;
    font-family: "Ostrich-Sans-Black";
}
.slide-container .text-container p+p {
    font-size: calc(1em + 0.4vw);
}
.slide-2-container .text-container p+p {
    font-size: calc(1.2em + 0.4vw);
}
.slide-2-container .text-container p+p+p {
    font-size: calc(1em + 0.4vw);
}
.slide-3-container .text-container p {
    font-size: calc(1.25em + 0.4vw);
}
.mtc {
    text-align: center;
    font-family: "Ostrich-Sans-Rounded";
    color: #eaeaea;
    font-weight: 600;
    font-size: calc(1em + 0.5vw);
    height: 100%;
}
.mtc p {
    margin-left: 30px;
    margin-right: 30px;
}
.mtc p:first-of-type {
    margin-top: 5px;
}
.mtc a {
    font-size: calc(1.5em + 0.5vw);
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
}
.mtc a span {
    text-decoration: underline;
}
.mtc-img {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    object-fit: contain;
}
.mtc img {
    width:100%;
    height:100%;
    object-fit: contain;
}

.mtc-multi-img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    margin: 0 auto;
    height: auto !important;
}

.nav-arrow {
    color: #fff;
    font-size: 14px !important;
    vertical-align: super;
    text-decoration: none !important;
}

.swiper-button-prev-mobile {
    float: left;
    color: white;
    font-size: 52px;
    position: relative;
    padding-bottom: 50%;
    margin-top: -25%;
    z-index: 9;
}

.swiper-button-next-mobile {
    float: right;
    color: white;
    font-size: 52px;
    position: relative;
    padding-bottom: 50%;
    margin-top: -25%;
    z-index: 9;
}

.slide-container picture {
    overflow: hidden;
}

.mtc picture {
    height: 100%;
    overflow: hidden;
}
/* -- Contact Us --*/
.contact {
    background-color: #797979;
    height: 40px;
    text-align: center;
    font-family: "Ostrich-Sans-Rounded";
    color: #fff;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* -- Footer -- */
.footer {
    height: 40px;
    text-align: center;
    font-family: "Ostrich-Sans-Rounded";
    color: #000;
    font-size: 2em;
}
.footer h6 {
    margin: 0;
    font-size: 0.5em;
    padding-bottom: 5px;
    padding-top: 3px;
}
.footer .disclaimer {
    margin: 0;
    font-size: 10px;
}
.swiper-logo {
    background: url(/assets/img/swiper-logo.svg) center/contain no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 auto;
    transform-style: preserve-3d;
    box-shadow: 0 15px 30px 0 rgba(99,50,246,.3);
}
.attribution {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.attribution-box {
    display: flex;
    flex-direction: column;
}

/* -- Media Queries --*/
/* -- Header -- */
/* -- Hero banner -- */

@media only screen and (max-width: 1270px) {
    .slide-3-container .text-container p {
        font-size: calc(1.1em + 0.3vw);
    }
    .slide-container img{
        height: 90%;
    }
    .slide-3-container img{
        height: 85%;
    }
}

@media only screen and (max-width: 1100px) {
    .heroimg-content h5 {
        margin-bottom: 20px;
    }
    .socials img {
        width: 100px;
    }
    .socials {
        margin-top: 0;
        width: 375px;
    }
    .slide-container img{
        height: 80%;
    }
    .slide-container .text-container p {
        font-size: calc(1.1em + 0.3vw);
    }
}

@media only screen and (max-width: 800px) {
    .heroimg-content h5 {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10px;
        font-size: calc(1.75em + 0.5vw);
    }
    .socials img {
        width: 64px;
    }
    .socials {
        margin-top: 0;
        width: 275px;
    }
}
@media only screen and (max-width: 628px) {
    .contact {
        height: 90px;
        padding-bottom: 0;
    }
}

/*Phones*/
@media only screen and (max-width: 376px) {
    .heroimg-content h1 {
        font-size: calc(5em + 0.5vw);
    }
    .heroimg-content h5 {
        font-size: calc(1.5em + 0.5vw);
    }
    .socials img {
        width: 50px;
    }
    .socials {
        margin-top: 0;
        width: 240px;
    }
    .socials .linkedin {
        margin-left: 20px;
    }
    /*Long phones, bigger vh*/
    @media only screen and (min-height: 790px) {
        .heroimg-content h5 {
            font-size: calc(1.75em + 0.5vw);
        }
        .socials {
            margin-top: 35px;
        }
    }
}

/*Landscape phones*/
@media only screen and (max-height: 732px) {
    .heroimg-content h1 {
        font-size: calc(4.45em + 0.5vw);
        margin-bottom: 1px;
        margin-top: -5px;
    }
    .heroimg-content h5 {
        font-size: calc(1.4em + 0.5vw);
        margin-left: 4.5%;
        margin-right: 4.5%;
        margin-top: 1px;
    }
    .socials img {
        width: 50px;
    }
    .socials .linkedin {
        margin-left: 20px;
    }
    .socials {
        margin-top: 0;
        width: 240px;
    }
}